<% include partials/_header %>

<div class="container">
  <div class="row">
    <!-- <form action="/search" method="get" class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
        id="buscar"
      />
      <select name="opcion" id="opcion">
        <option value="11">numero</option>
        <option value="3">cedula</option>
        <option value="5">nombre</option>
      </select>
    </form> -->

    <!-- LIST -->
    <div class="col-md-11">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < tasks.length; i++) { %>
          <tr>
            <td><%= i + 1%></td>
            <td><%= tasks[i].cedula %></td>
            <td><%= tasks[i].nombre %></td>
            <td><%= tasks[i].correo %></td>
            <td><%= tasks[i].telefono %></td>
            <td><%= tasks[i].direccion %></td>
            <td><%= tasks[i].ciudad %></td>
            <td><%= tasks[i].descripcion %></td>
            <td>
              <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">
                Eliminar
              </a>
              <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">
                Editar
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include partials/_footer %>
